<div style="width: 90%;margin-left: auto;
  margin-right: auto;" id="carouselExampleSlidesOnly" class="center carousel slide " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://habrastorage.org/webt/hw/u_/kd/hwu_kdgpu4nm1f-jmqnb3-unbv0.jpeg" class="d-block w-100" style="width: auto; height: auto" alt="...">
    </div>
  </div>
</div>

<div class="container marketing w-75 mt-5" style="margin-left:12%">
  <h4 class="text-center p-2 mb-1">What's relevant this season</h4>
  <br>
  <div class="row">
    <div class="col">
      <a href="#">
        <img class="rounded-circle" src="https://habrastorage.org/webt/qc/oq/6r/qcoq6ryvkizmlwmgdv7flplzuka.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 34%">Gown</h5>
      </a>
    </div>
    <div class="col">
      <a href="#">
        <img class="rounded-circle" src="https://habrastorage.org/webt/ep/r9/o8/epr9o8yfpcws3grvwnslsqqga9e.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 34%">Boots</h5>
      </a>
    </div>
    <div class="col">
      <a href="#">
        <img class="rounded-circle" src="https://habrastorage.org/webt/wv/op/3c/wvop3csw5bpbrh8oqlcmo6_p_2m.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 34%">Jeans</h5>
      </a>
    </div>
    <div class="col">
      <a href="#">
        <img class="rounded-circle" src="https://habrastorage.org/webt/yj/pe/bq/yjpebqyrkgsdkrn1yolflhyzxns.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 40%">Hats</h5>
      </a>
    </div>
    <div class="col">
      <img class="rounded-circle" src="https://habrastorage.org/webt/uh/eb/vb/uhebvbekphmnblqdqy_j8d_l5e4.jpeg" alt="Generic placeholder image" width="auto" height="auto">
      <h5 style="margin-left: 31%">Jackets</h5>
    </div>
  </div>
</div>

<div class="container mt-5">
  <!--Start code-->
  <div class="row">
    <div class="col-12 pb-5">
      <!--SECTION START-->
      <section class="row">
        <!--Start slider news-->
        <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
          <div id="featured" class="carousel slide carousel" data-ride="carousel">
            <!--dots navigate-->
            <!--carousel inner-->
            <div class="carousel-inner">
              <!--Item slider-->
              <div class="carousel-item active">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <a href="#">
                      <div class="ratio_left-cover-1 image-wrapper" style="width: 535px; height: 456px">
                        <img class="img-fluid" style="width: 535px; height: 456px"
                             src="https://habrastorage.org/webt/mx/tr/hh/mxtrhhw-use7xdmoox5fc8onxjy.png"
                             alt="Bootstrap news template">
                      </div>
                    </a>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <div class="news-meta">

                        <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">NEW</a>
                      </div>
                      <a href="#">
                        <h2 class="h3 post-title text-white my-1">Do-it-yourself comfort</h2>
                      </a>
                      <!-- meta title -->
                    </div>
                  </div>
                </div>
              </div>
              <!--end item slider-->
            </div>
            <!--end carousel inner-->
          </div>
        </div>
        <!--End slider news-->

        <!--Start box news-->
        <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
          <div class="row">
            <!--news box-->
            <div class="col-6 pb-1 pt-0 pr-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <a href="#">
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img class="img-fluid" style="height: auto; width: auto"
                             src="https://habrastorage.org/webt/_y/hb/i-/_yhbi-6w6d8ztrp5bdc__xgabce.jpeg"
                             alt="simple blog template bootstrap">
                      </a>
                    </div>
                  </a>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">Lifestyle</a>

                    <!--title-->
                    <a href="#">
                      <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--news box-->
            <div class="col-6 pb-1 pl-1 pt-0">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <a href="#">
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img class="img-fluid" style="height: auto; width: auto"
                             src="https://habrastorage.org/webt/_z/rf/v-/_zrfv-gvzbani23smfkqhau5kry.jpeg"
                             alt="bootstrap templates for blog">
                      </a>
                    </div>
                  </a>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">Backpacks</a>
                    <!--title-->
                    <a href="#">
                      <h6 class="text-white my-1">For sports, city and hiking</h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--news box-->
            <div class="col pb-1 pl-1 pt-1" style="margin-left: 3%; margin-top: -1.5%">
              <h4 class="p-4 border-bottom" style="font-family: 'Acme', sans-serif; color: #F93C00">Discounts on all items until the end of the year! </h4>
            </div>
            <!--end news box-->
          </div>
        </div>
        <!--End box news-->
      </section>
      <!--END SECTION-->
    </div>
  </div>
  <!--end code-->
</div>

<hr>
<div class="" style="margin-left: 5%; width:90% ">
  <h2 class="text-left p-3" style="font-family: 'Acme', sans-serif;">Popular</h2>
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="https://habrastorage.org/webt/pr/nt/m-/prntm-razrq814nlu980trkwdrm.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/gp/va/dp/gpvadpg3-7kygwyf0c2gisboahi.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Women's dress</a></h3>
          <div class="price text-center">$23.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/aq/zl/9r/aqzl9rbgt8z6qazgnb7bj6gwlxq.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/se/4t/8h/se4t8h0_tundj-uiqnf3bd_go-4.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Women's sport dress</a></h3>
          <div class="price text-center">$13.55</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="https://habrastorage.org/webt/a-/pf/ay/a-pfayucixf3vm5gmuzfapqjnqw.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/tp/wa/ux/tpwaux1kkapqevik8vpqmgpnuei.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Women's sweatshirt</a></h3>
          <div class="price text-center">$18.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/03/-r/ta/03-rtavxpatq7-rxz1_dhwbq8oc.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/uy/py/kt/uypykt04vuxxfkmrgopainkh7ze.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Women's backpack</a></h3>
          <div class="price text-center">$80.50</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="https://habrastorage.org/webt/gv/wl/u1/gvwlu1nyjxe1o3yk-ebma0alhri.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/ft/yc/x0/ftycx0m2ay9yhr4k1gri81soeag.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Women's dress</a></h3>
          <div class="price text-center">$30.99</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="" style="width: 100%;margin-left: -2%">
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" >
    <h2 class="p-3" style="font-family: 'Acme', sans-serif; margin-left: 13.5% ">Actual</h2>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="album ml-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 480px; width: 325px; display: block;" src="https://habrastorage.org/webt/lk/cp/qr/lkcpqrnuefxymrtxbrwgsopszee.png" data-holder-rendered="true">
                </a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 bg-shadow" style="width:100%">
                    <h2 class="h5 text-white my-1">ADD WARMTH</h2>
                    <a class="text-white font-weight-bold">
                      <span class="">Winter accessories</span>
                      <h3 class="h3 text-danger my-1" id="time"></h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/pa/sw/rb/paswrbsr_cciaydoic5coulk15g.png" data-holder-rendered="true" style="height: 480px; width: 325px; display: block;"> </a>
                <div class="position-absolute p-2 p-lg-3 b-0 bg-shadow" style="width:100%">
                  <h2 class="h5 text-white my-1">JEANS & SWEATSHIRTS</h2>
                  <a class="text-white font-weight-bold">
                    <span class="">Perfect week</span>
                    <h3 class="h3 text-danger my-1" id="time2"></h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/p-/f9/zh/p-f9zhxv-ojoolorf7qljf8smsu.png" data-holder-rendered="true" style="height: 480px; width: 325px; display: block;"> </a>
                <div class="position-absolute p-2 p-lg-3 b-0 bg-shadow" style="width:100%">
                  <h2 class="h5 text-white my-1">SHOE RUSH</h2>
                  <a class="text-white font-weight-bold">
                    <span class="">What to wear right now?</span>
                    <h3 class="h3 text-danger my-1" id="time3"></h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="album py-5 mt-3">
  <div class="container">
    <h2 class="p-3" style="font-family: 'Acme', sans-serif;">Find out more</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://habrastorage.org/webt/nd/an/jy/ndanjya8vwnqq-4fiddpngidm28.png" data-holder-rendered="true">
          <div class="card-body">
            <!--            <h5 class="text-center">OUTLET</h5>-->
            <p class="card-text">Collections of clothes, shoes and accessories at competitive prices.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/nu/it/ck/nuitckjn-tdnhiaqqkjilialbv4.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">New Year's makeup: silver on the eyelids and gloss on the lips.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/fe/-2/is/fe-2iscplrhjcboppq6gt6dh_9u.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Make purchases with the card and get bonuses</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


