<nav class="navbar" style="background-color: black">
  <ul style="margin-top: -6px">
    <li>
      <a href="#">Men clothes</a>
    </li>
    <li>
      <a href="#">Women clothes</a>
    </li>
    <li>
      <a href="#">Kids clothes</a>
    </li>
  </ul>
  <ol style="background-color: #F93C00; vertical-align: middle; width: 300px; height: 49px; margin-top: -12px; ">
    <i class="fa fa-truck fa-2x p-2" style="color: white; margin-left: 8px" aria-hidden="true"></i>
    <p class="text-white text-right" style="padding: 4%; margin-top: -48px" data-tooltipp="Take advantage of contactless delivery">Contactless delivery with fitting!</p>
  </ol>
</nav>
<header class="blog-header  border-bottom" style="width: 90%; margin-left: 5%">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div></div>
    <div class="col-4 text-center">
      <a href="index.html"><h1  class="blog-header-logo text-dark" style="font-family: 'Acme', sans-serif;" href="#" >Lamoda</h1></a>
    </div>
    <div></div>
  </div>
</header>
<div class="nav-scroller py-1 mb-2" style="width: 60%; margin-left: 5.5%">
  <nav class="nav d-flex justify-content-between">





    <a class="p-2"><b>Home</b></a>
    <a class="p-2"><b>Men</b></a>
    <a class="p-2"><b>Women</b></a>
    <a class="p-2 text-muted" href="#"></a>
    <a class="p-2 text-muted" href="#"></a>
    <a class="p-2 text-muted" href="#"></a>
    <a class="p-2 text-muted" href="#"></a>
    <a class="p-2 text-muted" href="#"></a>
    <a class="p-2 text-muted" href="#"></a>
  </nav>
</div>




