<div style="width: 90%;margin-left: auto;
  margin-right: auto;" id="carouselExampleSlidesOnly" class="center carousel slide " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://habrastorage.org/webt/gh/y9/hf/ghy9hfz958cuqw2fl63asje7ffi.png" class="d-block w-100" style="width: auto; height: auto" alt="...">
    </div>
  </div>
</div>

<div class="container marketing w-75 mt-5" style="margin-left:12%">
  <h4 class="text-center p-2 mb-1">What's relevant this season</h4>
  <br>
  <div class="row">
    <div class="col">
      <a [routerLink]="['/store-men']">
        <img class="rounded-circle" src="https://habrastorage.org/webt/sh/i1/0p/shi10pf_cvtledqzyfbnwmkv51u.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 34%">Shoes</h5>
      </a>
    </div>
    <div class="col">
      <a [routerLink]="['/store-men']">
        <img class="rounded-circle" src="https://habrastorage.org/webt/tj/mw/su/tjmwsumjw2t4cr-5ihb6svomnlc.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 34%">Jeans</h5>
      </a>
    </div>
    <div class="col">
      <a [routerLink]="['/store-men']">
        <img class="rounded-circle" src="https://habrastorage.org/webt/9n/7i/5d/9n7i5dx36syea_bcf0rqfl-aalo.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 34%">Sport</h5>
      </a>
    </div>
    <div class="col">
      <a [routerLink]="['/store-men']">
        <img class="rounded-circle" src="https://habrastorage.org/webt/qc/kr/e_/qckre_kkrjbbvudup7ismyzwc_g.jpeg" alt="Generic placeholder image" width="auto" height="auto">
        <h5 style="margin-left: 40%">Hats</h5>
      </a>
    </div>
    <div class="col">
      <img class="rounded-circle" src="https://habrastorage.org/webt/mf/l0/si/mfl0sim2shh9rjrej8npefht5oi.jpeg" alt="Generic placeholder image" width="auto" height="auto">
      <h5 style="margin-left: 31%">Jackets</h5>
    </div>
  </div>
</div>

<div class="container mt-5">
  <!--Start code-->
  <div class="row">
    <div class="col-12 pb-5">
      <!--SECTION START-->
      <section class="row">
        <!--Start slider news-->
        <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
          <div id="featured" class="carousel slide carousel" data-ride="carousel">
            <!--dots navigate-->
            <!--carousel inner-->
            <div class="carousel-inner">
              <!--Item slider-->
              <div class="carousel-item active">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <a [routerLink]="['/store-men']">
                      <div class="ratio_left-cover-1 image-wrapper" style="width: 535px; height: 456px">
                        <img class="img-fluid" style="width: 535px; height: 456px"
                             src="https://habrastorage.org/webt/wq/og/zx/wqogzxe17yoarcwcmmbjhlaopzc.png"
                             alt="Bootstrap news template">
                      </div>
                    </a>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <div class="news-meta">

                        <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">NEW</a>
                      </div>
                      <a href="#">
                        <h2 class="h3 post-title text-white my-1">Do-it-yourself comfort</h2>
                      </a>
                      <!-- meta title -->
                    </div>
                  </div>
                </div>
              </div>
              <!--end item slider-->
            </div>
            <!--end carousel inner-->
          </div>
        </div>
        <!--End slider news-->

        <!--Start box news-->
        <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
          <div class="row">
            <!--news box-->
            <div class="col-6 pb-1 pt-0 pr-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <a [routerLink]="['/store-men']">
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img class="img-fluid" style="height: auto; width: auto"
                             src="https://habrastorage.org/webt/ti/tg/8l/titg8lnqhp1-ocqffdhqrobua9i.jpeg"
                             alt="simple blog template bootstrap">
                      </a>
                    </div>
                  </a>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">Lifestyle</a>

                    <!--title-->
                    <a href="#">
                      <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--news box-->
            <div class="col-6 pb-1 pl-1 pt-0">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <a [routerLink]="['/store-men']">
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img class="img-fluid" style="height: auto; width: auto"
                             src="https://habrastorage.org/webt/ro/gr/mk/rogrmkwf6eos6kw3ks3f0lgiepm.jpeg"
                             alt="bootstrap templates for blog">
                      </a>
                    </div>
                  </a>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">Backpacks</a>
                    <!--title-->
                    <a href="#">
                      <h6 class="text-white my-1">For sports, city and hiking</h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--news box-->
            <div class="col pb-1 pl-1 pt-1" style="margin-left: 3%; margin-top: -1.5%">
              <h4 class="p-4 border-bottom" style="font-family: 'Acme', sans-serif; color: #F93C00">Discounts on all items until the end of the year! </h4>
            </div>
            <!--end news box-->
          </div>
        </div>
        <!--End box news-->
      </section>
      <!--END SECTION-->
    </div>
  </div>
  <!--end code-->
</div>

<hr>
<div class="" style="margin-left: 5%; width:90% ">
  <h2 class="text-left p-3" style="font-family: 'Acme', sans-serif;">Popular</h2>
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/zo/rp/af/zorpaffappgnr2csjfcyp0yryqw.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/ym/61/t-/ym61t-7ixelveflv7u90kziu-by.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's backpack</a></h3>
          <div class="price text-center">$90.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/-f/uu/pj/-fuupjqkvewqdnx3iuk4b-rwlko.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/hq/ih/pp/hqihppcaxyrd8apgftwglgtjy6a.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's hat</a></h3>
          <div class="price text-center">$13.55</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/vc/nl/yy/vcnlyypiajxi_zvq2dwg3u2skci.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/sb/yz/hi/sbyzhis4_1m7yoz7j7-rks_bdpe.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shirt</a></h3>
          <div class="price text-center">$30.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/h6/ps/0i/h6ps0idqsdncpqjdlsswjjnmbsm.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/iz/_h/nv/iz_hnv1mvi43wf_zphfnopxy5u0.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's jacket</a></h3>
          <div class="price text-center">$20.50</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/b1/zl/lf/b1zllfggljf6d-ddhkp4wccht_c.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/qa/sb/am/qasbamkt71lqz67kxsxt_j4bffe.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shoe</a></h3>
          <div class="price text-center">$55.99</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>



<div class="" style="width: 100%;margin-left: -2%">
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" >
    <h2 class="p-3" style="font-family: 'Acme', sans-serif; margin-left: 13.5% ">Actual</h2>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="album ml-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 480px; width: 325px; display: block;" src="https://habrastorage.org/webt/fr/pf/ru/frpfrugaqsq0uk-m3qzxsvteeci.png" data-holder-rendered="true">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 bg-shadow" style="width:100%">
                    <h2 class="h5 text-white my-1">STYLISH BOOTS</h2>
                    <a class="text-white font-weight-bold">
                      <span class="">in which it is warm</span>
                      <h3 class="h3 text-danger my-1" id="time"></h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/9i/lg/5v/9ilg5vkj9obdgvtpc8bjl4qt63q.png" data-holder-rendered="true" style="height: 480px; width: 325px; display: block;">
                <div class="position-absolute p-2 p-lg-3 b-0 bg-shadow" style="width:100%">
                  <h2 class="h5 text-white my-1">NEED A NEW BAG?</h2>
                  <a class="text-white font-weight-bold">
                    <span class="">It is in your collection</span>
                    <h3 class="h3 text-danger my-1" id="time2"></h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/hh/v8/lq/hhv8lqqivveo86ktlnyekljir70.png" data-holder-rendered="true" style="height: 480px; width: 325px; display: block;">
                <div class="position-absolute p-2 p-lg-3 b-0 bg-shadow" style="width:100%">
                  <h2 class="h5 text-white my-1">WARM OUTERWEAR</h2>
                  <a class="text-white font-weight-bold">
                    <span class="">Are you ready for winter? YES!</span>
                    <h3 class="h3 text-danger my-1" id="time3"></h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="album py-5 mt-3">
  <div class="container">
    <h2 class="p-3" style="font-family: 'Acme', sans-serif;">Find out more</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://habrastorage.org/webt/nd/an/jy/ndanjya8vwnqq-4fiddpngidm28.png" data-holder-rendered="true">
          <div class="card-body">
            <!--            <h5 class="text-center">OUTLET</h5>-->
            <p class="card-text">Collections of clothes, shoes and accessories at competitive prices.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/nm/iu/rt/nmiurt35tdhyib0jdcecag6bxni.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Determine your style yourself, or with the help of our modelers.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://habrastorage.org/webt/fe/-2/is/fe-2iscplrhjcboppq6gt6dh_9u.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Make purchases with the card and get bonuses</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


